.form-control {
  &:focus {
    box-shadow: none !important;
  }

  &::placeholder {
    color: gray;
    opacity: 1;
    /* Firefox */
  }

  &::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: gray;
  }
}

/* disabled Submit button */
button:disabled {
  opacity: 50%;
}