<footer class="mt-5 main-bg py-5  position-relative main-color">
  <div class="container py-3 footer position-relative">
    <div class="d-flex justify-content-between flex-wrap align-items-center my-5">
      <h2 class="heading-6 mb-0">Ahmed</h2>
      <ul class="list-unstyled d-flex flex-wrap justify-content-between mb-0 ">
        <li class="mx-4 mb-0">Home</li>
        <li class="mx-4">About</li>
        <li class="ms-4">Contact</li>
      </ul>
    </div>
    <div class="text-end d-flex justify-content-end">
      <div class=" rounded-circle bg-primary position-relative gradient icon-holder ms-4">
        <div
          class="main-bg rounded-circle position-absolute top-50 start-50 translate-middle d-flex justify-content-center align-items-center">
          <i class="fa-brands fa-linkedin-in"></i>
        </div>
      </div>
      <div class=" rounded-circle bg-primary position-relative gradient icon-holder ms-4">
        <div
          class="main-bg rounded-circle position-absolute top-50 start-50 translate-middle d-flex justify-content-center align-items-center">
          <i class="fa-brands fa-github"></i>
        </div>
      </div>
    </div>
  </div>
</footer>