<nav class="navbar navbar-expand-lg main-bg" data-bs-theme="dark">
  <div class="container ">
    <a class="navbar-brand heading-6 gradient-md-text" href="#">Ahmed A.</a>
    <button class="navbar-toggler-icon navbar-toggler border-0 " data-bs-toggle="collapse" type="button"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse justify-content-between px-4" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link  main-color para-1 " aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  main-color para-1" aria-current="page" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  main-color para-1" aria-current="page" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  main-color para-1 " aria-current="page" href="#">About</a>
        </li>
      </ul>
      <ul class="navbar-nav  mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link secondary-btn para-1 fw-bolder text-center" aria-current="page" href="#">LET'S TALK</a>
        </li>
      </ul>
    </div>
  </div>
</nav>