<section class=" w-100 d-flex flex-wrap gap-5 justify-content-center ">
  <div class="d-flex flex-column align-items-center secondary-bg px-4 py-4 justify-content-between">
    <img src="../../../assets/images/angular.svg" width="60" alt="Angular logo" title="Angular">
    <p class="heading-6 mt-3 mb-0">Angular</p>
  </div>
  <div class="d-flex flex-column align-items-center secondary-bg px-4 py-4 justify-content-between ">
    <img src="../../../assets/images/react.svg" width="60" alt="React logo" title="React">
    <p class="heading-6 mt-3 mb-0">React</p>
  </div>
  <div class="d-flex flex-column align-items-center secondary-bg px-4 py-4 justify-content-between ">
    <img src="../../../assets/images/bootstrap.svg" width="60" alt="Bootstrap logo" title="Bootstrap">
    <p class="heading-6 mt-3 mb-0">Bootstrap</p>
  </div>
  <div class="d-flex flex-column align-items-center secondary-bg px-4 py-4 justify-content-between ">
    <img src="../../../assets/images/jquery.svg" width="60" alt="jQuery logo" title="jQuery">
    <p class="heading-6 mt-3 mb-0">jQuery</p>
  </div>
</section>