.main-section {
  min-height: 75vh;
}

/* #homeNews,
#homeProjects,
#homeSkills {
  opacity: 0%;
  position: relative;
}
 */
#news {
  min-height: 10rem;
  overflow-x: hidden;

  #static-bar {
    min-height: 4rem;
  }

  #moving-bar {
    left: -1%;
    top: calc(50% - 2rem);
    height: 4rem;
    width: 102%;
    color: var(--bg-main);
    background-color: var(--color-main);
    transform: rotateZ(-3.5deg);
  }

}

.star {
  min-width: 2rem;
  height: 2rem;

  .circle {
    width: 54%;
    height: 54%;
    background-color: var(--color-main);

    &:first-child {
      border-radius: 0 0 80% 0;
      top: -4% !important;
      left: -4% !important;
    }


    &:nth-child(2) {
      border-radius: 0 0 0 80%;
      top: -4% !important;
      right: -4%;
    }

    &:nth-child(3) {
      border-radius: 0 80% 0 0;
      bottom: -4%;
      left: -4%;
    }

    &:nth-child(4) {
      border-radius: 80% 0 0 0;
      bottom: -4%;
      right: -4%;
    }

  }
}

@media screen and (min-width:1500px) {
  #moving-bar {
    transform: rotateZ(-2deg) !important;
  }
}



#moving-words {
  margin: 0;
  list-style: none;
  transform-style: preserve-3d;
  animation: three-dimensions-circle 30s linear infinite;
  transform: rotateX(-90deg) rotate(0);
  min-width: 100%;

  div.moving-word {
    position: absolute;
    top: 50%;
    left: 50%;
    backface-visibility: hidden;
  }

  @for $i from 1 through 48 {
    div.moving-word:nth-child(#{$i}) {
      transform: translate(-50%, -50%) rotate(#{$i * 7.5 - 7.5}deg) translateY(-72rem) rotateX(90deg);
    }
  }
}



@keyframes three-dimensions-circle {
  0% {
    transform: rotateX(-90deg) rotate(0);
  }

  100% {
    transform: rotateX(-90deg) rotate(-360deg);
  }
}