<!-- Name and title -->
<section
  class="main-bg main-section main-color d-flex flex-column justify-content-center align-items-center text-md-center mx-auto container"
  id="about">
  <h1 class="heading-1">
    <span class="gradient-text">Hi, I'm Ahmed<span class="d-none d-lg-inline">,</span></span> Creative Front-end Web
    Developer
  </h1>
  <p class="para-1 my-4">
    A Front-end Web Developer. I specialize in building interactive and responsive web applications using Angular.
  </p>
  <div class="d-flex">
    <button type="button" class="main-btn mx-3">GET IN TOUCH</button>
    <button type="button" class="outline-btn mx-3">VIEW ALL WORKS</button>
  </div>
</section>

<!-- =========================================================================== -->
<!-- The moving section -->
<section id="news" class="w-100 mb-5 position-relative  d-flex flex-column justify-content-center">
  <div id="static-bar" class="gradient w-100">
  </div>
  <div id="moving-bar" class="heading-6 px-3 d-flex align-items-center position-absolute overflow-hidden">
    <div id="moving-words" class="d-flex position-absolute border-primary justify-content-evenly align-items-center">
      <ng-template ngFor let-hero [ngForOf]="[0, 1, 2, 3,4,5,6,7]">
        <div class="star position-absolute gradient moving-word">
          <div class="circle position-absolute"></div>
          <div class="circle position-absolute"></div>
          <div class="circle position-absolute"></div>
          <div class="circle position-absolute"></div>
        </div>
        <div class="moving-word">
          DESIGN
        </div>
        <div class="star position-absolute gradient moving-word">
          <div class="circle position-absolute"></div>
          <div class="circle position-absolute"></div>
          <div class="circle position-absolute"></div>
          <div class="circle position-absolute"></div>
        </div>
        <div class="moving-word">
          DEVELOPE
        </div>
        <div class="star position-absolute gradient moving-word">
          <div class="circle position-absolute"></div>
          <div class="circle position-absolute"></div>
          <div class="circle position-absolute"></div>
          <div class="circle position-absolute"></div>
        </div>
        <div class="moving-word">
          DISCOVER
        </div>
      </ng-template>
    </div>
  </div>
</section>

<!-- ========================================================================== -->
<!-- MY PROJECTS -->
<app-projects></app-projects>

<!-- ========================================================================== -->
<!-- Languages & SKILLS & FRAMEWORKS -->
<section class="main-bg main-color py-5">
  <div class="container">
    <p class="heading-3 mb-5">
      What I Do.
    </p>
    <!-- Nav tabs -->
    <nav class="navbar" data-bs-theme="dark">
      <ul class="list-unstyled d-flex justify-content-evenly w-100">
        <li class="nav-item text-center">
          <a class="nav-link  heading-6" routerLinkActive="gradient-text" aria-current="page"
            routerLink="languages">Languages</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link  heading-6 text-wrap" routerLinkActive="gradient-text" aria-current="page"
            routerLink="frameworks">Frameworks & Libraries</a>
        </li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
</section>