.main-section {
  min-height: 75vh;
}




#news {
  min-height: 10rem;
  overflow-x: hidden;

  #static-bar {
    min-height: 4rem;
  }

  #moving-bar {
    left: -1%;
    top: calc(50% - 2rem);
    height: 4rem;
    width: 102%;
    color: var(--bg-main);
    background-color: var(--color-main);
    -webkit-transform: rotateZ(-3.5deg);
    -ms-transform: rotate(-3.5deg);
    transform: rotateZ(-3.5deg);
  }

}

.star {
  min-width: 2rem;
  height: 2rem;

  .circle {
    width: 54%;
    height: 54%;
    background-color: var(--color-main);

    &:first-child {
      border-radius: 0 0 80% 0;
      top: -4% !important;
      left: -4% !important;
    }


    &:nth-child(2) {
      border-radius: 0 0 0 80%;
      top: -4% !important;
      right: -4%;
    }

    &:nth-child(3) {
      border-radius: 0 80% 0 0;
      bottom: -4%;
      left: -4%;
    }

    &:nth-child(4) {
      border-radius: 80% 0 0 0;
      bottom: -4%;
      right: -4%;
    }

  }
}





#moving-words {
  margin: 0;
  list-style: none;

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-animation: three-dimensions-circle 30s linear infinite;
  animation: three-dimensions-circle 30s linear infinite;

  -webkit-transform: rotateX(-90deg) rotate(0);
  transform: rotateX(-90deg) rotate(0);

  min-width: 100%;

  div.moving-word {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  @for $i from 1 through 48 {
    div.moving-word:nth-child(#{$i}) {
      -webkit-transform: translate(-50%, -50%) rotate(#{$i * 7.5 - 7.5}deg) translateY(-72rem) rotateX(90deg);
      transform: translate(-50%, -50%) rotate(#{$i * 7.5 - 7.5}deg) translateY(-72rem) rotateX(90deg);
    }
  }
}



@-webkit-keyframes three-dimensions-circle {
  0% {
    -webkit-transform: rotateX(-90deg) rotate(0);
    transform: rotateX(-90deg) rotate(0);
  }

  100% {
    -webkit-transform: rotateX(-90deg) rotate(-360deg);
    transform: rotateX(-90deg) rotate(-360deg);
  }
}



@keyframes three-dimensions-circle {
  0% {
    -webkit-transform: rotateX(-90deg) rotate(0);
    transform: rotateX(-90deg) rotate(0);
  }

  100% {
    -webkit-transform: rotateX(-90deg) rotate(-360deg);
    transform: rotateX(-90deg) rotate(-360deg);
  }
}

/* Media query very large screen */
@media screen and (min-width:1500px) {
  #moving-bar {
    -webkit-transform: rotateZ(-2deg) !important;
    -ms-transform: rotate(-2deg) !important;
    transform: rotateZ(-2deg) !important;
  }
}


/* In mozilla only */
@-moz-document url-prefix() {

  #moving-words {
    display: none !important;
  }

  #mozillaOnly {
    display: flex !important;
    margin-inline: -1rem;
  }
}