<!-- Name and title -->
<section
  class="main-bg main-section main-color d-flex flex-column justify-content-center align-items-center text-md-center mx-auto container"
  id="about">
  <h1 class="heading-1">
    <span class="gradient-text">Hi, I'm Ahmed<span class="d-none d-lg-inline">,</span></span> Creative Front-end Web
    Developer
  </h1>
  <p class="para-1 my-4">
    A Front-end Web Developer. I specialize in building interactive and responsive web applications using Angular.
  </p>
  <div class="d-flex">
    <button type="button" class="main-btn mx-3 para-5" routerLink="../contact">GET IN TOUCH</button>
    <button type="button" class="outline-btn mx-3 para-5" (click)="goTo('projects')">VIEW ALL WORKS</button>
  </div>
</section>

<!-- =========================================================================== -->
<!-- The moving section -->
<div id="homeNews" class="animate__animated" data-scroll="in">
  <section id="news" class="w-100 mb-5 position-relative  d-flex flex-column justify-content-center">
    <div id="static-bar" class="gradient w-100">
    </div>
    <div id="moving-bar" class="heading-6 px-3 d-flex align-items-center position-absolute overflow-hidden">
      <div id="moving-words" class="d-flex position-absolute border-primary justify-content-evenly align-items-center">
        <!-- Innovate, Implement, Inspire -->
        <ng-template ngFor let-hero [ngForOf]="[0, 1, 2, 3,4,5,6,7]">
          <div class="star position-absolute gradient moving-word">
            <div class="circle position-absolute"></div>
            <div class="circle position-absolute"></div>
            <div class="circle position-absolute"></div>
            <div class="circle position-absolute"></div>
          </div>
          <div class="moving-word">
            INNOVATE
          </div>
          <div class="star position-absolute gradient moving-word">
            <div class="circle position-absolute"></div>
            <div class="circle position-absolute"></div>
            <div class="circle position-absolute"></div>
            <div class="circle position-absolute"></div>
          </div>
          <div class="moving-word">
            IMPLEMENT
          </div>
          <div class="star position-absolute gradient moving-word">
            <div class="circle position-absolute"></div>
            <div class="circle position-absolute"></div>
            <div class="circle position-absolute"></div>
            <div class="circle position-absolute"></div>
          </div>
          <div class="moving-word">
            INSPIRE
          </div>
        </ng-template>
      </div>
    </div>
  </section>
</div>

<!-- ========================================================================== -->
<!-- MY PROJECTS -->
<section class="main-bg main-color py-5 animate__animated" data-scroll="in" id="homeProjects">
  <div class="container">
    <p class="heading-3">
      Look at My<br /> <span class="gradient-text">Projects</span>
    </p>
    <app-projects class="projectsComponent"></app-projects>
  </div>
</section>
<!-- ========================================================================== -->
<!-- Languages & SKILLS & FRAMEWORKS -->
<section class="main-bg main-color py-5 animate__animated" data-scroll="in" id="homeSkills">
  <div class="container">
    <p class="heading-3 mb-5">
      What I Do.
    </p>
    <app-tools [tools]="tools"></app-tools>
  </div>
</section>