<section class=" w-100 d-flex flex-wrap gap-5 justify-content-center ">
  <div class="d-flex flex-column align-items-center secondary-bg px-4 py-4 justify-content-between">
    <img src="../../../assets/images/js.png" width="60" alt="Javascript logo" title="Javascript">
    <p class="heading-6 mt-3 mb-0">Javascript</p>
  </div>
  <div class="d-flex flex-column align-items-center secondary-bg px-4 py-4 justify-content-between ">
    <img src="../../../assets/images/typescript.png" width="60" alt="Typescript logo" title="Typescript">
    <p class="heading-6 mt-3 mb-0">Typescript</p>
  </div>
  <div class="d-flex flex-column align-items-center secondary-bg px-4 py-4 justify-content-between ">
    <img src="../../../assets/images/css-3.png" width="60" alt="CSS logo" title="CSS">
    <p class="heading-6 mt-3 mb-0">CSS</p>
  </div>
  <div class="d-flex flex-column align-items-center secondary-bg px-4 py-4 justify-content-between ">
    <img src="../../../assets/images/html-5.png" width="60" alt="HTML5 logo" title="HTML5">
    <p class="heading-6 mt-3 mb-0">HTML</p>
  </div>

  <div class="d-flex flex-column align-items-center secondary-bg px-4 py-4 justify-content-between ">
    <img src="../../../assets/images/sass.png" width="60" alt="Sass logo" title="Sass">
    <p class="heading-6 mt-3 mb-0">Sass</p>
  </div>


</section>
<!-- ! DON'T Forget to Add the following link as a citation from where you got the icons -->
<!-- <a href="https://www.flaticon.com/free-icons/typescript" title="typescript icons">Typescript icons created by Freepik
    - Flaticon</a> -->