<section class="main-bg main-color py-5">
  <div class="container">
    <p class="heading-3">
      Look at My<br /> <span class="gradient-text">Projects</span>
    </p>
    <div class="row gy-5">
      <div class="col-12 col-sm-6">
        <div class="secondary-bg rounded-4 overflow-hidden ">
          <img src="../../assets/images/Home-mediumScreen.png" class="w-100" alt="...">
          <div class="p-4">
            <p class="heading-6">Finance Landing Page</p>
            <p class="para-1">Landing Page UI Kit</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="secondary-bg rounded-4 overflow-hidden ">
          <img src="../../assets/images/Home-mediumScreen.png" class="w-100" alt="...">
          <div class="p-4">
            <p class="heading-6">Finance Landing Page</p>
            <p class="para-1">Landing Page UI Kit</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="secondary-bg rounded-4 overflow-hidden ">
          <img src="../../assets/images/Home-mediumScreen.png" class="w-100" alt="...">
          <div class="p-4">
            <p class="heading-6">Finance Landing Page</p>
            <p class="para-1">Landing Page UI Kit</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="secondary-bg rounded-4 overflow-hidden ">
          <img src="../../assets/images/Home-mediumScreen.png" class="w-100" alt="...">
          <div class="p-4">
            <p class="heading-6">Finance Landing Page</p>
            <p class="para-1">Landing Page UI Kit</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>