<div class="row gy-5" id="projects">
  <div *ngFor="let project of projects" class="col-12 col-sm-6">
    <div class="secondary-bg rounded-4 overflow-hidden father position-relative">
      <img src={{project.source}} class="w-100" alt="...">
      <div class="p-4 ">
        <p class="heading-6 mb-0">{{project.name}}</p>
      </div>
      <div
        class="d-flex mx-auto flex-wrap p-1 layer justify-content-evenly justify-content-sm-between justify-content-xl-evenly">
        <button type="button" class="secondary-btn mx-1 para-5" (click)="showProject(project.live)">Live <i
            class="fa-solid fa-arrow-up-right-from-square ms-1"></i></button>
        <button type="button" class="secondary-btn mx-1 para-5" (click)="showProject(project.github)">Source <i
            class="fa-brands fa-github ms-1"></i></button>
        <a type="button" class="secondary-btn mx-1 para-5 link-underline link-underline-opacity-0"
          [routerLink]="['../projectDetails', {id: project.id}]">Details</a>
      </div>
    </div>
  </div>
</div>