/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@700&family=Inter:wght@400;600&display=swap');
/* Font */
$heading-font: 'Bai Jamjuree', sans-serif;
$para-font: 'Inter', sans-serif;
$rem: 8px;
/* Gradient */
$gradient: linear-gradient(45deg, #B16CEA 14.06%, #FF5E69 44.79%, #FF8A56 71.87%, #FFA84B 100%);

.general {
  --state-bold: #272E35;
  font-size: $rem;
  --bs-font-sans-serif: $para-font;
  font-family: $para-font;
  background-color: var(--bg-main);
}

/* Dark Mode */
:root {
  @extend .general;
  --bg-main: #161513;
  --bg-secondary: #1C1C22;
  --color-main: #F0F2F5;
  --color-secondary: #FFFFFF;

}

/* light Mode */
:root.light {
  @extend .general;
  --bg-main: #F0F2F5;
  --bg-secondary: #FFFFFF;
  --color-main: #161513;
  --color-secondary: #1C1C22;
}

/* Background and color classes */
$bg: (
  "main-bg": var(--bg-main),
  "secondary-bg": var(--bg-secondary),
);
$colors: (
  "main-color": var(--color-main),
  "secondary-color": var(--color-secondary)
);

@each $key, $value in $bg {
  .#{$key} {
    background-color: $value !important;
  }
}

@each $key, $value in $colors {
  .#{$key} {
    color: $value !important;
  }
}

@each $key, $value in $bg {
  .inv-#{$key} {
    color: $value !important;
  }
}

@each $key, $value in $colors {
  .inv-#{$key} {
    background-color: $value !important;
  }
}

/* Headings' Fonts */
@mixin font($font-size, $line-height, $font-family, $font-weight: 700) {
  font-feature-settings: 'clig' 0, 'liga' 0;
  font-family: $font-family;
  font-style: normal;
  font-weight: $font-weight ;
  font-size: $font-size ;
  line-height: $line-height ;
}

.heading-0 {
  @include font(5.25rem, 100%, $heading-font);
}

@for $i from 1 to 7 {
  $extra: 0;

  @if $i >=5 {
    $extra: 0.5;
  }

  .heading-#{$i} {
    @include font(-0.5*$i - $extra + 5rem, 125%, $heading-font)
  }
}

/* Paragraphs fonts */
.para-1 {
  @include font(1.125rem, 1.875rem, $para-font, 400)
}

.para-2 {
  @include font(1rem, 1.5rem, $para-font, 400)
}

.para-3 {
  @include font(2rem, 2.375rem, $para-font, 600)
}

.para-4 {
  @include font(1.5rem, 1.875rem, $para-font, 600)
}

.para-5 {
  @include font(1rem, 1.875rem, $para-font, 600)
}

/* Linear gradient */
.gradient-md-text, .gradient-text {
  background: -webkit-#{$gradient};
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient {
  background-image: $gradient;
}

/* Buttons */
.button {
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem !important;
}

.main-btn {
  @extend .button;
  background-image: $gradient;
  color: var(--color-main)
}

.secondary-btn {
  @extend .button;
  color: var(--bg-main) !important;
  background-color: var(--color-main) !important;
}

.outline-btn {
  @extend .button;
  border: 1px solid var(--color-main);
  color: var(--color-main);
  background-color: var(--bg-main);
}

/* ---------------------------------------------------------- */






/* Media Query */
$grid-breakpoints: (
  1: 375px,
  2: 576px,
  3: 768px,
  4: 992px,
);

$i: 0;

@each $key, $value in $grid-breakpoints {
  $i: $i+1;

  @media screen and (min-width: $value) {

    :root,
    :root.light {
      font-size: 8px + $i*2px;
    }
  }
}


@media screen and (min-width : 991px) {
  .gradient-md-text {
    background: none;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: var(--color-main) !important;
    color: var(--color-main) !important;
  }
}